.container {
  /* min-height: 100vh; */
  padding: 1em 1rem;
  max-width: 92%;
  margin: 1em auto;
  /* flex-direction: column; */
  /* justify-content: center; */
  /* align-items: center; */
}


.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}


@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
